/*Reset*/

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/*Styling*/
body {
  font-family: 'Aldrich', sans-serif;
  background-color: ghostwhite;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  border-bottom: 1px solid grey;
  align-items: center;
}

.header-title-container {
  display: flex;
}

.header-title-container h1 {
  font-size: 40px;
  margin-left: 75px;
}

.header-title-container h2 {
  box-sizing: border-box;
  font-size: 30px;
  padding-left: 10px;
  border-left: 1px solid red;
  color: grey;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-right: 20px;
  padding-left: 9px;
  border-left: 1px solid red;
}

nav ul li:first-child {
  padding: 0;
  border: 0;
}
