/*Reset*/

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/*Styling*/

/*Body*/

body {
  font-family: 'Aldrich', sans-serif;
  background-color: ghostwhite;
}

/*Header*/

header {

  margin: 20px;
  border-bottom: 1px solid grey;

}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.header-title-container {
  display: flex;
  align-items: center;
}

.header-title-container h1 {
  font-size: 40px;
  margin-left: 20px;
  padding-right: 10px;
  border-right: 1px solid red;
}

.header-title-container h2 {
  box-sizing: border-box;
  font-size: 16px;
  padding-left: 10px;
  color: grey;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-right: 20px;
  padding-left: 19px;
  border-left: 1px solid red;
  color: grey;
}

nav ul li:first-child {
  padding: 0;
  border: 0;
}

/*Container*/
.container {
  margin: 20px;
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
}

/*Footer*/
footer ul {
  display: flex;
  margin-left: 20px;
}

footer ul li {
  margin-left: 20px;
}
