<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link href="https://fonts.googleapis.com/css?family=Aldrich" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="/css/main.css">

		</head>
		<body>
			<header>
				<div class="header-container">
					<div class="header-title-container">
						<h1>Jonathon Lin</h1>
						<h2>Web Developer</h2>
					</div>
					<nav>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/about">About</a></li>
							<li><a href="/projects">Projects</a></li>
							<li><a href="/blog">Blog</a></li>
						</ul>
					</nav>
				</div>
			</header>
			<div class="container">

			{{ content }}

			</div>
			<!-- /.container -->
			<footer>
    		<ul>
        		<li><a href="mailto:jonathonlin93@yahoo.com">email</a></li>
        		<li><a href="https://github.com/jonathol">github.com/jonathol</a></li>
				</ul>
			</footer>
		</body>
	</html>
