---
layout: generic
---


<article id="main">
	<header>
		<h2>{{ page.title }}</h2>
	</header>
	<section class="wrapper style5">
		<div class="inner">
			<header class="major">
	      <div>
	        {{ content }}
	      </div>
			</header>
		</div>
	</section>
</article>
<section id="cta" class="wrapper style4">
  <div class="inner">
    <header>
      <h2><a href="http://www.jonathonlin.com/blog/atom">RSS feed</a></h2>
    </header>
    <ul class="actions vertical">
      <a href="/blog" class="button fit special">Back to blog</a>
    </ul>
  </div>
</section>
